<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>Gabo HN</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />

</head>
<body class="container" ng-app="myApp" ng-controller="MainController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{'#/'}}">
                <img ng-src="{{ logo }}" type="">
            </a>
            <a class="navbar-brand" href="{{'#/'}}">{{ brand }}</a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav" ng-repeat="shortcut in sections['shortcuts'] track by $index">
                <li ng-class="{active: map('/'+shortcut)}" ng-click="collapseMenu()"><a class="nav-link" href="{{'#/'+shortcut}}">{{ sections[sLang][$index] }}</a></li>
            </ul>
        </div>
    </nav>

    <div ng-view></div>

    <footer>
        <div class="btn-group">
            <label class="btn btn-primary btn-sm" ng-class="{active:sLang==='en'}" ng-click="changeLanguage('en')">en</label>
            <label class="btn btn-primary btn-sm" ng-class="{active:sLang==='es'}" ng-click="changeLanguage('es')">es</label>
        </div>
        <h5>&copy; {{ creation }} {{ creator }}</h5>
    </footer>

    <script src="js/app.js?v=1.0.0"></script>

    <script src="js/controllers/MainController.js?v=1.0.0"></script>
    <script src="js/controllers/HomeController.js?v=1.0.0"></script>
    <script src="js/controllers/DAController.js?v=1.0.0"></script>
    <script src="js/controllers/WDController.js?v=1.0.0"></script>
    <script src="js/controllers/ContactController.js?v=1.0.0"></script>

    <script src="js/directives/banner.js?v=1.0.0"></script>
    <script src="js/directives/subsection.js?v=1.0.0"></script>
    <script src="js/directives/carousel.js?v=1.0.0"></script>
    <script src="js/directives/tabled.js?v=1.0.0"></script>

</body>
</html>
