<banner info=banner></banner>
<form method="POST" action="https://formspree.io/gabo696hn@hotmail.com">
    <div class="form-group">
        <input type="email" name="email" placeholder="{{data[sLang].mail}}" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <textarea name="message" placeholder="{{data[sLang].message}}" class="form-control"></textarea>
    </div>
    <input type="text" name="_gotcha" style="display:none" />
    <button type="submit" class="btn btn-primary">{{data[sLang].send}}</button>
</form>