<banner info=banner></banner>
<div class="flex-row">
    <subsection info=section[sLang].subsections[0] class="subsection"></subsection>
    <carousel info=section[sLang].subsections[0].slides></carousel>
</div>
<div class="flex-row">
    <tabled info=section[sLang].subsections[1].table></tabled>
    <subsection info=section[sLang].subsections[1] class="subsection"></subsection>
</div>
    <subsection info=section[sLang].subsections[2] class="subsection"></subsection>
    <subsection info=section[sLang].subsections[3] class="subsection"></subsection>
    <subsection info=section[sLang].subsections[4] class="subsection"></subsection>

